{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Rolls{% endblock %}</h1>
{% endblock %}

{% block content %}
Proto Roll

<form method="POST">
  <label for="progression">Progression:</label><br>
  <input type="text" id="progression" name="progression" value="{{ request.form['progression'] }}"><br>
  <label for="roll">Roll:</label><br>
  <input type="text" id="roll" name="roll" value="{{ request.form['roll'] }}">
  <input type="submit" value="Generate">
</form>


Generated Tab:<br>
<pre>
{{ascii_tab}}
</pre>

{% endblock %}
